 <div class="row">
  <nb-card accent="info">
    <nb-card-header>EDIT LIST</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="text" class="label">LIST NAME</label>
            <input type="text" nbInput fullWidth >
          </div>
        </div>
      </div>
   
      <button type="submit" nbButton style="margin-left: 84%;">update</button>
      <!-- <button type="submit" nbButton>Close</button> -->
    </nb-card-body>
  </nb-card>
</div>
