
 <div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>ADD NEW CONTACT</nb-card-header>
      <nb-card-body>
        <form>
        <div class="form-control-group">
          <label class="label">COUNTRY CODE</label>
                 <nb-select placeholder="NgModel">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
        </div>
        
        <div class="form-control-group">
          <label class="label">PHONE NUMBER</label>
          <input nbInput
                 fullWidth
                >
        </div>
    
    
        
    
        <div class="form-control-group">
          <label class="label">FIRST NAME</label>
          <input nbInput
                 fullWidth
                
          >
        </div>
        <div class="form-control-group">
          <label class="label">LAST NAME</label>
          <input nbInput
                 fullWidth
                
          >
        </div>
        <div class="form-control-group">
          <label class="label">EMAIL</label>
          <input nbInput
                 fullWidth
               
          >
        </div>
        <div class="form-control-group">
          <label class="label">COMPANY</label>
          <input nbInput
                 fullWidth
          >
        </div>
        <div class="form-control-group">
          <label class="label">USER NAME</label>
          <input nbInput
                 fullWidth
                
          >
        </div>
        <br>
        <button type="submit"
                nbButton
                size="small"
                status="success"
                [class.btn-pulse]="submitted"
                >
          + Add
        </button>
      </form>
      </nb-card-body>
    </nb-card>
  </div>