<!-- <div class="container">
 <div class="row">
  <div class="col-lg-6">
    <nb-card class="scrollable">
      <nb-card-header>view Profile</nb-card-header>
      <nb-card-body>
        <form  #myForm="ngForm" (ngSubmit)="allclient(); myForm.reset()">
        <div class="form-control-group" >
          <label class="label">First Name</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.firstname"
                 name="Firstname"
                 #Firstname="ngModel"
                 placeholder="First Name"
                 [status]="Firstname.dirty ? (Firstname.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="Firstname.invalid && Firstname.touched ? true : null">
          <ng-container *ngIf="Firstname.invalid && Firstname.touched">
            <p class="caption status-danger" *ngIf="Firstname.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>
        <div class="full-name-inputs">
          <div class="form-control-group">
            <label class="label">Last Name</label>
            <input nbInput
                   fullWidth
                   [(ngModel)]="client.lastname"
                   name="Lastname"
                   #Lastname="ngModel"
                   placeholder="last Name"
                   [status]="Lastname.dirty ? (Lastname.invalid  ? 'danger' : 'success') : ''"
                   required="required"
                   [minlength]="4"
                   [attr.aria-invalid]="Lastname.invalid && Lastname.touched ? true : null">
            <ng-container *ngIf="Lastname.invalid && Lastname.touched">
              <p class="caption status-danger" *ngIf="Lastname.errors?.required">
                Field is required!
              </p>
            </ng-container>
          </div>
          <div class="form-control-group">
            <label class="label">Company</label>
            <input nbInput
                   fullWidth
                   [(ngModel)]="client.company"
                   name="company1"
                   #company1="ngModel"
                   placeholder="company"
                   [status]="company1.dirty ? (company1.invalid  ? 'danger' : 'success') : ''"
                   required="required"
                   [minlength] ="4"
                   [attr.aria-invalid]="company1.invalid && company1.touched ? true : null">
            <ng-container *ngIf="company1.invalid && company1.touched">
              <p class="caption status-danger" *ngIf="company1.errors?.required">
                Field is required!
              </p>
            </ng-container>
          </div>
        </div>
        <div class="form-control-group">
          <label class="label">WEBSITE</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.website"
                 name="web"
                 #web="ngModel"
                 placeholder="WEBSITE"
                 [status]="web.dirty ? (web.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="web.invalid && web.touched ? true : null">
          <ng-container *ngIf="web.invalid && web.touched">
            <p class="caption status-danger" *ngIf="web.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>


        <div class="form-control-group">
          <label class="label">EMAIL</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.email"
                 name="Email"
                 #Email="ngModel"
                 placeholder="EMAIL"
                 [status]="Email.dirty ? (Email.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="Email.invalid && web.touched ? true : null">
          <ng-container *ngIf="Email.invalid && Email.touched">
            <p class="caption status-danger" *ngIf="Email.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>


        <div class="form-control-group">
          <label class="label">User Name</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.username"
                 name="Username"
                 #Username="ngModel"
                 placeholder="Username"
                 [status]="Username.dirty ? (Username.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="Username.invalid && Username.touched ? true : null">
          <ng-container *ngIf="Username.invalid && Username.touched">
            <p class="caption status-danger" *ngIf="Username.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
          <label class="label">Password</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.password"
                 name="Password"
                 #Password="ngModel"
                 placeholder="Enter Password">
        </div>

        <div class="form-control-group">
          <label class="label">Confirm Password</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.confirmpassword"
                 name="ConfirmPassword"
                 #ConfirmPassword="ngModel"
                 placeholder="Enter Passwod">
        </div>
        <div class="form-control-group">
          <label class="label">Phone</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.phone"
                 name="Phone"
                 #Phone="ngModel"
                 placeholder="Enter Phone Number"
                 [status]="Phone.dirty ? (Phone.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="Phone.invalid && Phone.touched ? true : null">
          <ng-container *ngIf="Phone.invalid && Phone.touched">
            <p class="caption status-danger" *ngIf="Phone.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>
        <div class="form-control-group">
          <label class="label">Address</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.address"
                 name="Address"
                 #Address="ngModel"
                 placeholder="Enter Address"
                 [status]="Address.dirty ? (Address.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="Address.invalid && Address.touched ? true : null">
          <ng-container *ngIf="Address.invalid && Address.touched">
            <p class="caption status-danger" *ngIf="Address.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>
        <div class="form-control-group">
          <label class="label">MORE ADDRESS</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.moreaddress"
                 name="MoreAddress"
                 #MoreAddress="ngModel"
                 placeholder="Enter Address 2"
                 [status]="MoreAddress.dirty ? (MoreAddress.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="MoreAddress.invalid && MoreAddress.touched ? true : null">
          <ng-container *ngIf="MoreAddress.invalid && MoreAddress.touched">
            <p class="caption status-danger" *ngIf="MoreAddress.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>


        <div class="form-control-group">
          <label class="label">STATE</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.state"
                 name="State"
                 #State="ngModel"
                 placeholder="State Name"
                 [status]="State.dirty ? (State.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="State.invalid && State.touched ? true : null">
          <ng-container *ngIf="State.invalid && State.touched">
            <p class="caption status-danger" *ngIf="State.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>



        <div class="form-control-group">
          <label class="label">City</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.city"
                 name="City"
                 #City="ngModel"
                 placeholder="City Name"
                 [status]="City.dirty ? (City.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="City.invalid && City.touched ? true : null">
          <ng-container *ngIf="City.invalid && City.touched">
            <p class="caption status-danger" *ngIf="City.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>


        <div class="form-control-group">
          <label class="label">Passcode</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.passcode"
                 name="Passcode"
                 #Passcode="ngModel"
                 placeholder="Enter Passcode"
                 [status]="Passcode.dirty ? (Passcode.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="Passcode.invalid && Passcode.touched ? true : null">
          <ng-container *ngIf="Passcode.invalid && Passcode.touched">
            <p class="caption status-danger" *ngIf="Passcode.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>
        <div class="full-name-inputs">
        <div class="form-control-group">
          <label class="label">Country</label>
          <br>
          <nb-select name="s1" placeholder="Country"  [(ngModel)]="client.selectedcountryNgModel" >
            <nb-option value="0">United State</nb-option>
            <nb-option value="1">Norway</nb-option>
            <nb-option value="2">Pakistan</nb-option>
            <nb-option value="3">United Kingdom</nb-option>
            <nb-option value="4">Austrila</nb-option>
          </nb-select>
        </div>
        <div class="form-control-group">
          <label class="label">RESELLER PANEL</label>
          <br>
          <nb-select name="s2" placeholder="Select Reseller Panel" [(ngModel)]="client.selectedpanelNgModel" >
            <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
          </nb-select>
        </div>

        <div class="form-control-group">
          <label class="label">API ACCESS</label>
          <br>
          <nb-select name="s3" placeholder="Select Api" [(ngModel)]="client.selectedapiNgModel" >
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
          </nb-select>
        </div>
      </div>
        <div class="full-name-inputs">
        <div class="form-control-group">
          <label class="label">CLIENT GROUP</label>
          <br>
          <nb-select name="s4" placeholder="Select Client Group"[(ngModel)]="client.selectedclientNgModel">
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
          </nb-select>
        </div>
        <div class="form-control-group">
          <label class="label">SMS GATEWAY</label>
          <br>
          <nb-select name="s5" placeholder="Select sms Gateway" [(ngModel)]="client.selectedgatewayNgModel" >
            <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
          </nb-select>
        </div>
        </div>
        <div class="form-control-group">
          <label class="label">Sms Limit</label>
          <input nbInput
                 fullWidth
                 [(ngModel)]="client.smslimit"
                 name="SmsLimit"
                 #SmsLimit="ngModel"
                 placeholder="Enter Sms Limit"
                 [status]="SmsLimit.dirty ? (SmsLimit.invalid  ? 'danger' : 'success') : ''"
                 required="required"
                 [minlength] ="4"
                 [attr.aria-invalid]="SmsLimit.invalid && SmsLimit.touched ? true : null">
          <ng-container *ngIf="SmsLimit.invalid && SmsLimit.touched">
            <p class="caption status-danger" *ngIf="SmsLimit.errors?.required">
              Field is required!
            </p>
          </ng-container>
        </div>
        <br>
        <button type="submit"
                nbButton
                fullwidth
                status="success" [disabled]="submitted || Firstname.value == null || Firstname.value == ''
                || Lastname.value == null || Lastname.value == ''"
                [class.btn-pulse]="submitted"
                >
          + Update
        </button>
      </form>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
<div class="container">
  <nb-card>
    <nb-card-header>VIEW PROFILE</nb-card-header>
    <nb-card-body>
  <div class="row">
   <div class="col-md-2">
 <nb-user size="large"
              name="John Doe"
              title="Engineer"
              picture="{{client.image}}">
     </nb-user>
  </div>
     <div class="col-md-10">
       <div class="row">
        <label for="inputemail2" class="label col-sm-2 col-form-label">Email</label>
        <p class="col-sm-1">:</p>
        <p>sdsads</p>
       </div>
       <div class="row">
        <label for="inputemail2" class="label col-sm-2 col-form-label">Phone</label>
        <p class="col-sm-1">:</p>
        <p>sdsads</p>
       </div>
       <div class="row">
        <label for="inputemail2" class="label col-sm-2 col-form-label">Location:</label>
        <p class="col-sm-1">:</p>
        <p>sdsads</p>
       </div>
       <div class="row">
        <label for="inputemail2" class="label col-sm-2 col-form-label">Sms Balance:</label>
        <p class="col-sm-1">:</p>
        <p>sdsads</p>
       </div>

       <button type="button" class="btn btn-info" (click)="sendsms()">Send Sms</button>
        <button type="button" class="btn btn-success" style="margin-left: 2px;"(click)="updatelimit()">Update Limit</button>
        <button type="button" class="btn btn-success"style="margin-left: 2px;" (click)="changeProfile()"> Change Image</button>
     </div>
     </div>

  </nb-card-body>
  </nb-card>
</div>
        <nb-card>
          <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Edit Profile">
            <div class="full-name-inputs">
              <div class="form-control-group" >
                <label class="label">First Name</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.firstname"
                       name="Firstname"
                       #Firstname="ngModel"
                       placeholder="First Name"
                       [status]="Firstname.dirty ? (Firstname.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="Firstname.invalid && Firstname.touched ? true : null">
                <ng-container *ngIf="Firstname.invalid && Firstname.touched">
                  <p class="caption status-danger" *ngIf="Firstname.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>
                <div class="form-control-group">
                  <label class="label">Last Name</label>
                  <input nbInput
                         fullWidth
                         [(ngModel)]="client.lastname"
                         name="Lastname"
                         #Lastname="ngModel"
                         placeholder="last Name"
                         [status]="Lastname.dirty ? (Lastname.invalid  ? 'danger' : 'success') : ''"
                         required="required"
                         [minlength]="4"
                         [attr.aria-invalid]="Lastname.invalid && Lastname.touched ? true : null">
                  <ng-container *ngIf="Lastname.invalid && Lastname.touched">
                    <p class="caption status-danger" *ngIf="Lastname.errors?.required">
                      Field is required!
                    </p>
                  </ng-container>
                </div>
              </div>
                <div class="form-control-group">
                  <label class="label">Company</label>
                  <input nbInput
                         fullWidth
                         [(ngModel)]="client.company"
                         name="company1"
                         #company1="ngModel"
                         placeholder="company"
                         [status]="company1.dirty ? (company1.invalid  ? 'danger' : 'success') : ''"
                         required="required"
                         [minlength] ="4"
                         [attr.aria-invalid]="company1.invalid && company1.touched ? true : null">
                  <ng-container *ngIf="company1.invalid && company1.touched">
                    <p class="caption status-danger" *ngIf="company1.errors?.required">
                      Field is required!
                    </p>
                  </ng-container>
                </div>
              <div class="form-control-group">
                <label class="label">WEBSITE</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.website"
                       name="web"
                       #web="ngModel"
                       placeholder="WEBSITE"
                       [status]="web.dirty ? (web.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="web.invalid && web.touched ? true : null">
                <ng-container *ngIf="web.invalid && web.touched">
                  <p class="caption status-danger" *ngIf="web.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>


              <div class="form-control-group">
                <label class="label">EMAIL</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.email"
                       name="Email"
                       #Email="ngModel"
                       placeholder="EMAIL"
                       [status]="Email.dirty ? (Email.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="Email.invalid && web.touched ? true : null">
                <ng-container *ngIf="Email.invalid && Email.touched">
                  <p class="caption status-danger" *ngIf="Email.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>


              <div class="form-control-group">
                <label class="label">User Name</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.username"
                       name="Username"
                       #Username="ngModel"
                       placeholder="Username"
                       [status]="Username.dirty ? (Username.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="Username.invalid && Username.touched ? true : null">
                <ng-container *ngIf="Username.invalid && Username.touched">
                  <p class="caption status-danger" *ngIf="Username.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>

              <div class="form-control-group">
                <label class="label">Password</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.password"
                       name="Password"
                       #Password="ngModel"
                       placeholder="Enter Password">
              </div>

              <div class="form-control-group">
                <label class="label">Confirm Password</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.confirmpassword"
                       name="ConfirmPassword"
                       #ConfirmPassword="ngModel"
                       placeholder="Enter Passwod">
              </div>
              <div class="form-control-group">
                <label class="label">Phone</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.phone"
                       name="Phone"
                       #Phone="ngModel"
                       placeholder="Enter Phone Number"
                       [status]="Phone.dirty ? (Phone.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="Phone.invalid && Phone.touched ? true : null">
                <ng-container *ngIf="Phone.invalid && Phone.touched">
                  <p class="caption status-danger" *ngIf="Phone.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control-group">
                <label class="label">Address</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.address"
                       name="Address"
                       #Address="ngModel"
                       placeholder="Enter Address"
                       [status]="Address.dirty ? (Address.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="Address.invalid && Address.touched ? true : null">
                <ng-container *ngIf="Address.invalid && Address.touched">
                  <p class="caption status-danger" *ngIf="Address.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control-group">
                <label class="label">MORE ADDRESS</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.moreaddress"
                       name="MoreAddress"
                       #MoreAddress="ngModel"
                       placeholder="Enter Address 2"
                       [status]="MoreAddress.dirty ? (MoreAddress.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="MoreAddress.invalid && MoreAddress.touched ? true : null">
                <ng-container *ngIf="MoreAddress.invalid && MoreAddress.touched">
                  <p class="caption status-danger" *ngIf="MoreAddress.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>


              <div class="form-control-group">
                <label class="label">STATE</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.state"
                       name="State"
                       #State="ngModel"
                       placeholder="State Name"
                       [status]="State.dirty ? (State.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="State.invalid && State.touched ? true : null">
                <ng-container *ngIf="State.invalid && State.touched">
                  <p class="caption status-danger" *ngIf="State.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>



              <div class="form-control-group">
                <label class="label">City</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.city"
                       name="City"
                       #City="ngModel"
                       placeholder="City Name"
                       [status]="City.dirty ? (City.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="City.invalid && City.touched ? true : null">
                <ng-container *ngIf="City.invalid && City.touched">
                  <p class="caption status-danger" *ngIf="City.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>


              <div class="form-control-group">
                <label class="label">Passcode</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.passcode"
                       name="Passcode"
                       #Passcode="ngModel"
                       placeholder="Enter Passcode"
                       [status]="Passcode.dirty ? (Passcode.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="Passcode.invalid && Passcode.touched ? true : null">
                <ng-container *ngIf="Passcode.invalid && Passcode.touched">
                  <p class="caption status-danger" *ngIf="Passcode.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>
              <div class="full-name-inputs">
              <div class="form-control-group">
                <label class="label">Country</label>
                <br>
                <nb-select name="s1" placeholder="Country"  [(ngModel)]="client.selectedcountryNgModel" >
                  <nb-option value="0">United State</nb-option>
                  <nb-option value="1">Norway</nb-option>
                  <nb-option value="2">Pakistan</nb-option>
                  <nb-option value="3">United Kingdom</nb-option>
                  <nb-option value="4">Austrila</nb-option>
                </nb-select>
              </div>
              <div class="form-control-group">
                <label class="label">RESELLER PANEL</label>
                <br>
                <nb-select name="s2" placeholder="Select Reseller Panel" [(ngModel)]="client.selectedpanelNgModel" >
                  <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
                </nb-select>
              </div>

              <div class="form-control-group">
                <label class="label">API ACCESS</label>
                <br>
                <nb-select name="s3" placeholder="Select Api" [(ngModel)]="client.selectedapiNgModel" >
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
              </div>
            </div>
              <div class="full-name-inputs">
              <div class="form-control-group">
                <label class="label">CLIENT GROUP</label>
                <br>
                <nb-select name="s4" placeholder="Select Client Group"[(ngModel)]="client.selectedclientNgModel">
                  <nb-option value="1">Option 1</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                  <nb-option value="3">Option 3</nb-option>
                  <nb-option value="4">Option 4</nb-option>
                </nb-select>
              </div>
              <div class="form-control-group">
                <label class="label">SMS GATEWAY</label>
                <br>
                <nb-select name="s5" placeholder="Select sms Gateway" [(ngModel)]="client.selectedgatewayNgModel" >
                  <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
                </nb-select>
              </div>
              </div>
              <div class="form-control-group">
                <label class="label">Sms Limit</label>
                <input nbInput
                       fullWidth
                       [(ngModel)]="client.smslimit"
                       name="SmsLimit"
                       #SmsLimit="ngModel"
                       placeholder="Enter Sms Limit"
                       [status]="SmsLimit.dirty ? (SmsLimit.invalid  ? 'danger' : 'success') : ''"
                       required="required"
                       [minlength] ="4"
                       [attr.aria-invalid]="SmsLimit.invalid && SmsLimit.touched ? true : null">
                <ng-container *ngIf="SmsLimit.invalid && SmsLimit.touched">
                  <p class="caption status-danger" *ngIf="SmsLimit.errors?.required">
                    Field is required!
                  </p>
                </ng-container>
              </div>

          </nb-tab>
          <nb-tab tabTitle="Support Tickets">
            <p>List of <strong>orders</strong>.</p>
          </nb-tab>
          <nb-tab tabTitle="Invoices">
            <p>List of <strong>Invoices</strong>.</p>
          </nb-tab>
          <nb-tab tabTitle="SMS Transaction">
            <p>List of <strong>SMS Transaction</strong>.</p>
          </nb-tab>
        </nb-tabset>
        <button type="submit"
                nbButton
                fullwidth
                status="success"
                [class.btn-pulse]="submitted"
                (click)="onupdate()"
                >
          + Update
        </button>
      </nb-card-body>
    </nb-card>
    <!-- </div> -->
  <!-- </div> -->
