@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

@import '../../../../node_modules/@swimlane/ngx-datatable/index.css';
@import '../../../../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../../../../node_modules/@swimlane/ngx-datatable/assets/icons.css';



@import '~@fortawesome/fontawesome-free/css/all.min.css';
// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};


.nb-theme-default nb-icon {
  font-size: 1rem;
  line-height: 1;
  width: 1em;
  height: 1em;
}
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
@import "../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

::-webkit-scrollbar {
  margin: 0 auto;
  width: 0.3125rem;
  height: 0.3125rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f9fc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e9f2;
  cursor: pointer;
  border-radius: 0.15625rem;
}