<ngx-datatable class="material striped"
               [loadingIndicator]="loadingIndicator"
               [rows]="dataList"
               [offset]="page"
               [rowHeight]="50"
               [limit]="10"
               [scrollbarH]="true"
               [headerHeight]="50"
               [footerHeight]="35"
               [columns]="columns"
               [count]="totalPage"
               (page)='changePage($event)'
               (sort)='onSort($event)'
               [externalPaging]="true"
               [externalSorting]="true"
               [columnMode]="'force'">
               
</ngx-datatable>
