<ngx-datatable 
  class="fixed-header material"
  [offset]="page"
  [loadingIndicator]="loadingIndicator"

  [rowHeight]="50"
  [limit]="10"
  [scrollbarH]="true"
  [headerHeight]="50"
  [footerHeight]="35"
  [count]="totalPage"
  (page)="changePage($event)"
  (sort)="onSort($event)"
  [columnMode]="'force'"
  [rows]="dataList"
  [columns]="columns"
>
<ngx-datatable-column *ngFor="let col of columns; let i = index;" name="{{col.name}}" prop="{{col.prop}}">
</ngx-datatable-column>
<!-- <ngx-datatable-column>
  <ng-template #roleTemplate let-row="row" let-value="value" ngx-datatable-cell-template> -->
    <!-- <span> -->
      <!-- <div class="example-button-row">
      <button mat-raised-button color="accent" (click)='onEdit(row)'>Edit</button>
      <button mat-raised-button color="warn"  (click)='onDelete(row)'>Delete</button>
    </div> -->
      <!-- <button nbButton status="info" (click)='onEdit(row)' style="margin-left: 3px;"><i class="nb-edit"></i></button>
      <button   nbButton status="info" (click)='onDelete(value)' style="margin-left: 3px;"><i class="nb-edit"></i></button> -->
    <!-- </span> -->
  <!-- </ng-template>
</ngx-datatable-column> -->
<ngx-datatable-column name="Actions" sortable="false">
  <ng-template #roleTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
      <div class="example-button-row">
      <button mat-raised-button color="accent"(click)='onEdit(row)'>Edit</button>
      <button mat-raised-button color="warn" (click)='onDelete(row)'>Delete</button>
    </div>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>
